<!-- 引入打字机效果脚本 -->
<script src="/atmg.github.io/js/typewriter-effect.js"></script>

<!-- eDEX-UI 风格赛博朋克效果 -->
<link rel="stylesheet" href="/atmg.github.io/css/cyberpunk.css">
<script src="/atmg.github.io/js/cyberpunk-effects.js"></script>